<section>
  <h1>Registrar Empleado</h1>
  <label>id_empleado</label>
  <div>
    <input type="text" name="id_empleado" [(ngModel)]="id_empleado" >
  </div>
  <label>nombres</label>
  <div><input type="text" [(ngModel)]="nombres"></div>
  <label>apellidos</label>
  <div><input type="text" [(ngModel)]="apellidos"></div>
  <label>fecha_nacimiento</label>
  <div><input type="text" [(ngModel)]="fecha_nacimiento"></div>
  <label>edad</label>
  <div><input type="text" [(ngModel)]="edad"></div>
  <label>telefono</label>
  <div><input type="text" [(ngModel)]="telefono"></div>
  <label>email</label>
  <div><input type="text" [(ngModel)]="email"></div>
  <label>direccion</label>
  <div><input type="text" [(ngModel)]="direccion"></div>
  <label>dni</label>
  <div><input type="text" [(ngModel)]="dni"></div>
  <label>estado_civil</label>
  <div><input type="text" [(ngModel)]="estado_civil"></div>
  <label>sexo</label>
  <div><input type="text" [(ngModel)]="sexo"></div>
  <label>id_regimen_pensionario</label>
  <div><input type="text" [(ngModel)]="id_regimen_pensionario"></div>
  <label>id_seguro_medico</label>
  <div><input type="text" [(ngModel)]="id_seguro_medico"></div>
  <label>id_situacion_discapacidad</label>
  <div><input type="text" [(ngModel)]="id_situacion_discapacidad"></div>
  <label>id_empresa</label>
  <div><input type="text" [(ngModel)]="id_empresa"></div>
  <label>id_cuenta</label>
  <div><input type="text" [(ngModel)]="id_cuenta"></div>
  <button (click)="registrar()">Registrar</button>
</section>
