*{
  margin: 0px;
  padding:0px;
}
/* Estilos para el cuerpo de la página */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.contenidoprincipal{
  display: flex;
  width: 100%;
  height: auto;
}
.contenedor-vertical{
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  min-height: 80vh;

}
ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0;

}
.opciones{
  text-align: center;
  color: white;
  margin:0px 1px;
  padding: 24px 1px 5px 1px;

}

li a{
  text-decoration: none;
  color: white;
  text-align: center;
}
.Matricular{
  margin:5px 15px;
  padding: 2px 2px;
  text-align: center;
  border: 3px solid black;
  background-color:darkgrey;
  align-items: center;
  align-content: center;
  width: 50%;
}
.boton-matricular {
  display: flex;
  justify-content: center;
}
#opcionMatricula{
  color: black;
}
.contenedor-titulofiis{
  background-color: white;

}

#fiis{
  font-size: 50px;
  color: darkred;
  text-align: center;

}
aside {
  flex-basis: 15%; /* Anchura del aside */
  background-color: darkred; /* Color de fondo del aside */

}
.contenidoderecho{
  flex-basis: 85%;
  box-sizing: border-box;
}
.bienvenida{
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  background-color: darkgrey;
  height: 15vh;
  padding: 0 20px; /* Agrega un espacio interno a los lados del contenedor */
}
#tituloBienvenida{
  flex-grow: 1;
  font-size: 30px;
  text-align: center;

}
.iconouni{
  padding-top: 5px;
}
.iconouni img {
  max-height: 13vh; /* Ajusta la altura máxima del icono al contenedor*/
  width:auto;
}
.content {
  flex-grow: 1; /* Permite que el contenido principal ocupe todo el espacio restante */
}
.turno{
  background-color: rosybrown;
  height: 5vh;
}
.cursosMatricula{
  background-color: white;
  height: 76vh;
}
/* Contenido principal */
main {
  flex-grow: 1;
  margin: 0px;
}
.informacion_matricula {
  display: flex; /* Mostrar los elementos en línea */
  align-items: center; /* Alinear verticalmente los elementos en el centro */
  justify-content: space-between; /* Distribuir el espacio entre los elementos */
  padding-right: 10px;
  padding-left: 5px;
}

.informacion_matricula > div {
  flex-basis: 28%; /* Establecer el ancho de cada div */
  margin:3px 10px 3px 5px;
}

.contenedor-principal{
  display: flex;
  width: 85%;
  height: auto;
  box-sizing: border-box;

}
.tablacurso{
  text-align: center;
  width: 80%;
  margin: 20px auto;
  border: 2px solid crimson;
}
footer {
  background-color: #cccccc;
  height: 4vh;
  border:1px solid darkred;
}
.texto-footer{
  color: black;
  padding-left: 50px;
}
.hidden{
  display: none;
}

.cursosMatricula {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablacurso {
  width: 80%;
}
.tablacurso th {
  white-space: nowrap;
}
.tablacurso {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.tablacurso th,
.tablacurso td {
  padding: 8px;
  text-align: center;
}

.tablacurso th {
  background-color: darkblue;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.tablacurso td {
  border: 1px solid gray;
  background-color: azure;

}
.turno{
  align-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
  padding-top:7px ;

}


