<body>
<div class="contenidoprincipal">
  <!-- Barra de navegación -->
  <aside class="contenedor-vertical">
    <ul>
      <li class="contenedor-titulofiis">
        <a href="#" id="opcionPrincipal">
          <h2 id="fiis">FIIS</h2>
        </a>
      </li>
      <li class="opciones">
        <a href="#" id="opcionCursosDisponibles">
          <img class="icono1" src="./assets/iconolibro1.png" alt="cursos"><br/>
          <span><b>Cursos</b><br> <b>Disponibles</b><br></span>
        </a>
      </li>
      <li class="opciones">
        <a href="#" id="opcionCargaHoraria">
          <img class="icono2" src="./assets/icono2.png" alt="cargahoraria"><br/>
          <span><b>Carga horaria</b></span>
        </a>
      </li>
      <li class="opciones">
        <a href="#" id="opcionVacantes">
          <img src="./assets/icono3.png" alt="vacantes"><br/>
          <span><b>Vacantes</b></span>
        </a>
        <!--</li>
        <li class="contenedor boton-matricular">
          <button (click)="mostrarMensaje()" class="Matricular">Matricula</button>
          <div *ngIf="mensaje=='Horario correcto'">
            <h1 class="hidden">"Horario correcto"</h1>
            <a [routerLink]="['/selectmatricula/']"></a>
          </div>
          <div *ngIf="mensaje=='No es su hora de matricula'">
            <h1 class="hidden">"Horario incorrecto"</h1>
            <a [routerLink]="['/selectmatricula/']"></a>
          </div>
        </li>-->
    </ul>
  </aside>
  <!-- Contenido principal parte derecha -->
  <main class="contenidoderecho">
    <!-- inicio parte  derecha superior fijo-->
    <header class="bienvenida">
      <h1 id="tituloBienvenida"><br> BIENVENIDO AL SISTEMA MATRÍCULA</h1>
      <div class="iconouni">
        <img src="./assets/iconouni.png" alt="iconoUni">
      </div>
    </header>
    <!-- Final parte derecha superior fijo -->
    <div id="matricula">
      <section class="turno">
        <div class="content">Turno GRUPO {{numeroTurno}} desde {{fechaTurno}}
          {{horaInicioTurno}} hasta  {{fechaTurno}} {{horaFinTurno}}</div>

      </section>
      <section class="informacion_matricula">
        <div>
          <span>Créditos permitidos</span> {{lista[1].numeroCreditos}}
        </div>
        <button id="confirmar-modal"><a [routerLink]="['/reporte/',codUsuario]">Confirmar</a></button>
      </section>
      <section class="cursosMatricula">
        <table class="tablacurso" border="1px">
          <thead>
          <tr>
            <th>Código</th>
            <th>Curso</th>
            <th>Créditos</th>
            <th>Nro Veces</th>
            <th>Tipo</th>
            <th>Sección</th>
            <th>[      ]</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of lista; let i=index">
            <tr>
              <td>{{item.codCurso}}</td>
              <td>{{item.nombreCurso}}</td>
              <td>{{item.pesoCreditos}}</td>
              <td>{{item.numeroVeces}}</td>
              <td>{{item.codTipoCurso}}</td>
              <td><span> </span></td>
              <td>
            <span>
              <button id="abrir-modal">
                <a [routerLink]="['/seccion/',codUsuario,item.codCurso]">
                  +
                </a>
              </button>
            </span>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </section>

    </div>

  </main>

</div>
</body>
