<body>
<header>
  <p>Login- Alum</p>
</header>
<main id="contenedorprincipal">
  <div class="login-box">
    <h1 class="tituloPrincipal">MATRICULA FIIS</h1>
    <form class="formulario">
      <br><br>
      <div class="Form-group">
        <label> Codigo:</label>
        <input type="text" [(ngModel)]="codUsuario" [ngModelOptions]="{standalone: true} " placeholder="Ingresar codigo"><br>
      </div>
      <div class="Form-group">
        <label> Contraseña:</label>
        <input type="password" [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true} " placeholder="Ingresar contraseña"><br>
      </div>
      <button (click)="validar()" class="boton-login">
        <input type="button" value="Confirmar datos" class="boton-confirmardatos">
      </button>
      <p>{{mensaje}}</p>


      <div *ngIf="mensaje=='Usuario validado'">

          <a [routerLink]="['/inicio/',codUsuario]">
            INGRESAR</a>

      </div>
      <a href="#">¿Olvidaste tu contraseña?</a><br>

    </form>
  </div>
</main>
</body>
