<body>
<main id="contenedorprincipal">
  <div class="login-box">
    <h1 class="tituloPrincipal">PLANILLA FRONTEND</h1>
    <form class="formulario">
      <br><br>
      <div class="Form-group">
        <label> Usuario:</label>
        <input type="text"  [(ngModel)]="usuario"  [ngModelOptions]="{standalone: true}"  placeholder="Ingresar usuario"><br>
      </div>
      <div class="Form-group">
        <label> Contraseña:</label>
        <input type="password"  [(ngModel)]="contrasenia"  [ngModelOptions]="{standalone: true}"    placeholder="Ingresar contraseña"><br>
      </div>
      <button (click)="validar()" class="boton-login">
        <input type="button" value="Confirmar datos" class="boton-confirmardatos">
      </button>
      <p>{{mensaje}}</p>

      <div *ngIf="mensaje=='Validado!'">
        <div *ngIf="rol=='empresa'">
          <a [routerLink]="['/inicioempresa',id_empresa]">INGRESAR EMPRESA</a>
        </div>
        <div *ngIf="rol=='empleado'">
          <a [routerLink]="['/inicioempleado',id_empresa]">INGRESAR EMPLEADO</a>
        </div>
      </div>


      <a href="#">¿Olvidaste tu contraseña?</a><br>
    </form>

  </div>
</main>
</body>
